.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* background-image: url('../assets/wallpaper.jpg');
    background-size: cover; */
    padding: 0;
  }
  
  .countryContainer {
    display: flex;
    background: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    padding: 5vh 0;
  }